@keyframes rotateAnimation {
    0% {
        transform: rotateY(-20deg) rotateX(10deg);
    }
    50% {
        transform: rotateY(30deg) rotateX(0deg);
    }
    100% {
        transform: rotateY(-20deg) rotateX(10deg);
    }
}

.bg-gradient-custom {
    background: linear-gradient(
        105deg,
        transparent 20%,
        rgba(255, 255, 255, 0.7) 25%,
        rgba(255, 255, 255, 0.6) 30%,
        rgba(255, 255, 255, 0.5) 35%,
        rgba(255, 255, 255, 0.4) 45%,
        rgba(255, 255, 255, 0.5) 55%,
        rgba(255, 255, 255, 0.6) 60%,
        rgba(255, 255, 255, 0.7) 65%,
        transparent 70%
    );
}
